
body {
  text-align: center;
  margin: 0 auto;
  background-image: url("http://i.imgur.com/fGtNd2h.jpg");
  overflow: auto;
}

h1 {
  width: 270px;
  height: 55px;
  padding: 20px 10px;
  margin: 20px auto;
  border: none;
  border-radius: 38px;
  color: white;
  font-size: 28px;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 2px 2px 40px yellow;
  text-align: center;
  background-image: url("http://i.imgur.com/1NEkK9V.png");
  background-size: 300px 100px;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
}

table {
  margin: 54px auto 0px;
  border-collapse: separate;
  border-spacing: 21px 0;
  font-family: 'Press Start 2P', cursive;
}

div {
  display: inline-block;
  padding: 0 10px;
  margin: 42px auto;
}

span {
  text-shadow: 2px 2px rgb(255,65,14);
  font-size: 16px;
  color: gold;
}

button {
  padding: 10px 10px;
  margin: 0 5px 0;
  color: rgb(182, 135, 0);
  border-radius: 10px;
  border: solid 3px rgb(189, 153, 54);
  text-shadow: 2px 2px yellow;
  box-shadow: 0 2px black;
  background-color: gold;
  font-size: 12px;
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
}

strong {
  margin: 0 auto;
  padding: 20px 50px;
  background-color: black;
  border-radius: 15px;
  color: white;
  border: dotted 3px gold;
}



#board td {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

aside.instructions {
  width: 400px;
  height: 300px;
  padding: 15px;
  background-color: rgb(13,108,66);
  color: white;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 2px 4px black;
  text-align: left;
  font-size: 12px;
  float: right;
}

aside.info {
  width: 400px;
  height: 300px;
  padding: 15px;
  background-color: rgb(13,108,66);
  color: white;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 2px 4px black;
  text-align: left;
  font-size: 12px;
  float: left;
}

#winImage {
  visibility: hidden;
  width: 420px;
  height: 520px;
  z-index: 1;
  position: fixed;
  border-radius: 25px;
}

#winImage.vis {
  visibility: visible;
}

/*aside.winimage {
}*/

#box {
  text-align: center;
  width: 400px;
  height: 500px;
  margin: 0 auto;
  background-color: lightgrey;
  border-radius: 15px;
  background-image: url("http://i.imgur.com/QBNacpT.jpg");
  background-repeat: no-repeat;
  background-size: 420px;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  display: inline-block;
  padding: 10px;
}

#reel-0, #reel-1, #reel-2 {
  width: 90px;
  height: 180px;
  margin-top: 50px 0;
  border: solid 2px black;
  border-radius: 12px;
  font-size: 72px;
  background-color: rgba(255,255,255, .8);
  background-image: url('http://i.imgur.com/H551yGs.png');
  background-size: 80px 60px;
  background-repeat: no-repeat;
  background-position: center;

}

#lever {
  display: inline-block;
  position: absolute;
  margin: 50px 0 0;
  overflow: auto;
}

#lever:hover {
  display: inline-block;
  position: absolute;
  margin: 50px auto 0;
  overflow: auto;
  border: none;
  border: solid 2px rgba(255,255,0, .7);
  border-radius: 50px 50px 50px 0px;
  padding: 10px 15px 10px 0;
  cursor: pointer;
  box-shadow: 0px 0px 30px yellow;
}

footer.clear {
  padding: 50px;
  margin: auto;
  clear: both;
}
