
body {
  text-align: center;
  margin: 0 auto;
  background-image: url("http://i.imgur.com/fGtNd2h.jpg");
  overflow: auto;
}

h1 {
  width: 200px;
  margin: 50px auto 0;
  padding: 10px 20px;
  background-color: lightyellow;
  border: solid 3px orange;
  border-radius: 20px;
  font-size: 18px;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 0 0 5px gold;
}

table {
  margin: 45px auto 0px;
  border-collapse: separate;
  border-spacing: 21px 0;
  font-family: 'Press Start 2P', cursive;
}

span {
  text-shadow: 2px 2px black;
  font-size: 16px;
  color: gold;
}

button {
  padding: 10px 10px;
  margin: 0 5px 0;
  color: rgb(182, 135, 0);
  border-radius: 10px;
  border: solid 3px rgb(189, 153, 54);
  text-shadow: 2px 2px yellow;
  box-shadow: 0 2px black;
  background-color: gold;
  font-size: 12px;
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
}

div {
  display: inline-block;
  padding: 0 10px;
  margin: 12% auto;
}

strong {
  margin: 0 auto;
  padding: 20px 100px;
  background-color: black;
  border-radius: 15px;
  color: white;
}

.instructions {
  width: 300px;
  height: 400px;
  background-color: gold;
  float: left;
  font-family: 'Press Start 2P', cursive;
}


#box {
  text-align: center;
  width: 400px;
  height: 500px;
  margin: 0 auto;
  background-color: lightgrey;
  border-radius: 15px;
  background-image: url("http://i.imgur.com/QBNacpT.jpg");
  background-repeat: no-repeat;
  background-size: 420px;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  display: inline-block;
  padding: 10px;
}

.reel {
  width: 90px;
  height: 180px;
  margin-top: 50px 0;
  border: solid 2px black;
  border-radius: 12px;
  font-size: 72px;
  background-color: rgba(255,255,255, .8);
}

#lever {
  display: inline-block;
  position: fixed;
  margin: 0;
  overflow: auto;
}

#lever:hover {
  display: inline-block;
  position: fixed;
  margin: 0;
  overflow: auto;
  border: none;
  border: solid 2px black;
  border-radius: 50px 50px 50px 0px;
  padding: 10px 15px 10px 0;
  cursor: pointer;
}


